@import 'tailwindcss';

:root {
  --background: #ffffff;
  --primary: #10b981;
  --hover: #007b52;
  --secondary: #64748b;
  --tertiary: #fc7c78;
  --neutral: #717973;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-hover: var(--hover);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  --font-montserrat: var(--font-montserrat);
}

body {
  background-color: var(--background);
  font-family: var(--font-montserrat);
}
